@model Pattern

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="col-md-8">
            <div class="row">
                <h2>@Html.EditorFor(m => m.Name)<br />@Html.ValidationMessageFor(m => m.Name)</h2>

                <div class="col-md-6">
                    <h6>
                        @Html.LabelFor(m => m.YarnWeight)
                    </h6>
                </div>
                <div class="col-md-6">
                    <p>
                        @Html.EditorFor(m => m.YarnWeight)
                        @Html.ValidationMessageFor(m => m.YarnWeight)
                    </p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <h6>
                        @Html.LabelFor(m => m.Yardage)
                    </h6>
                </div>
                <div class="col-md-6">
                    <p>
                        @Html.EditorFor(m => m.Yardage)
                        @Html.ValidationMessageFor(m => m.Yardage)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6>
                        @Html.LabelFor(m => m.HookSize)
                    </h6>
                </div>
                <div class="col-md-6">
                    <p>
                        @Html.EditorFor(m => m.HookSize)
                        @Html.ValidationMessageFor(m => m.HookSize)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h6>
                        @Html.LabelFor(m => m.PatternText)
                    </h6>
                </div>
                <div class="col-md-12">
                    @Html.TextAreaFor(m => m.PatternText)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Save" />
                </div>
            </div>
        </div>
    }
    @*<div class="col-md-4">
            @foreach (var img in Model.CurrentPattern.FinishedProductImages)
            {
                <div>
                    <img src="@img.File.Url" />
                </div>
            }
        </div>*@
</div>